*.fst-ver
*.fsti-ver
*.mgen
.depend.extract.fsharp
.depend.extract.rsp
.depend.extract-stdlib
.depend.extract-stdlib.rsp
.depend.extract-taclib
.depend.extract-taclib.rsp
fs/extracted
[Bb]in/
[Oo]bj/
