*.fst-ver
*.fsti-ver
*.mgen
ml/extracted
ml/fstarlib.mllib
tactics_ml/extracted
tactics_ml/fstarlib_leftovers
tactics_ml/fstartaclib.mllib
.depend.extract
.depend.extract.fsharp
.depend.extract.rsp
fs/extracted
[Bb]in/
[Oo]bj/
