*.fst       eol=crlf
*.fsti      eol=crlf
*.fsi       eol=crlf 
*.fs        eol=crlf
*.fsy       eol=crlf
*.fsl       eol=crlf
*.ml        eol=crlf
*.mli       eol=crlf
*.mll       eol=crlf 
*.fsproj    eol=crlf 
*.sln       eol=crlf
Makefile.*  eol=crlf 
*.fst linguist-language=FStar
*.fsti linguist-language=FStar

