/stage1/out
/stage2/out
/out
/fstar*.tar.gz
/_pak*
/_srcpak*
# ^ build output

*~
.#*
\#*\#
*.vspx
*.psess
*.suo
*.smt2
*.sav
*.hints.fsval
*.hints.mlval
*.bench
dump*
cache/
/VS/packages

/src/parser/parse.fs
/src/parser/lex.fs

/src/boot

/bin/*.dll
/bin/*.pdb
/bin/*.mdb
/bin/*.xml
/bin/*.config
/bin/fstar.exe
/bin/fstar.ocaml
/bin/tests.exe
/bin/z3.exe
/bin/z3-x86.exe
/bin/z3-x64.exe
/src/*/obj

/lib

examples/*/*.ml
examples/crypto/CntProtocol.exe
examples/wysteria/ocaml-output/*

tests/*/*.ml
tests/incl/*.neg/error.log

_build/
/ulib/fs/obj
/ulib/fs/bin

/release

*.native
*.byte

queries*.smt2
transcript
dump

# ignore .ml files on the root dir
/*.ml

*.cmi
*.cmo
*.cmx
*.cma
*.cmxs
*.cmxa
*.o
fstar.install
._fstar.install

.depend
.depend.rsp
._depend
*.a
*.cmxa
*.so
*.annot
/VS/

tags

*~
*.swp

*.exe

*.checked
*.checked.lax
*.dump
*.runlim

/.nubuild
/nucache/
/nuobj/
nubuild.log
nubuild.progress

# Z3/F* nightly/weekly files
/nightly

# Nuget packages
nuget/

# devcontainer temp files
/.devcontainer_build.log


stage3
