/stage1/out
/stage2/out
/stage3
/out
/*.tar
/*.tar.gz
/*.zip
/_pak*
/_srcpak*
_build
# ^ build output
/nightly
/bin/fstar.exe
/bin/get_fstar_z3.sh

# touch files for incrementality
/.*.touch

*~
.#*
\#*\#
*.vspx
*.psess
*.suo
*.smt2
*.sav
dump*
cache/

/lib

tests/incl/*.neg/error.log

*.exe
*.byte

queries*.smt2

*.cmi
*.cmo
*.cmx
*.cma
*.cmxs
*.cmxa
*.o

.depend*

tags

*~
*.swp


*.checked
*.checked.lax
*.dump
*.runlim

# devcontainer temp files
/.devcontainer_build.log

esy.lock
node_modules
_esy

# Generated OCaml code and plugins
src/extracted/
!src/extracted/dune
src/plugins/
!src/plugins/dune

# Build artifacts and logs
_deps.txt
test-output.log
