<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="FSharp.Compatibility.OCaml" version="0.1.10" targetFramework="net45" />
  <package id="FsLexYacc" version="6.1.0" targetFramework="net45" />
  <package id="FsLexYacc.Runtime" version="6.1.0" targetFramework="net45" />
  <package id="PPrintForFSharp" version="0.0.2" targetFramework="net45" />
  <package id="FSharp.Core" version="4.1.18" targetFramework="net45" />
</packages>
