pki = $ENV::PKI # PKI root directory

[ ca ]
default_ca      = CA_own

[ CA_own ]
dir              = $pki/db
certs            = $pki/db
new_certs_dir    = $pki/db/ca.db.certs
database         = $pki/db/ca.db.index
serial           = $pki/db/ca.db.serial
RANDFILE         = $pki/db/ca.db.rand
certificate      = $pki/certificates/ca.crt
private_key      = $pki/certificates/ca.key

default_days     = 3000
default_crl_days = 30
default_md       = sha1
preserve         = no

policy           = policy_match

x509_extensions  = usr_cert

[ policy_match ]
countryName             = match
stateOrProvinceName     = match
organizationName        = match
organizationalUnitName  = optional
commonName              = supplied
emailAddress            = optional

[ policy_anything ]
countryName             = optional
stateOrProvinceName     = optional
localityName            = optional
organizationName        = optional
organizationalUnitName  = optional
commonName              = supplied
emailAddress            = optional 

[ usr_cert ]
keyUsage          = nonRepudiation, digitalSignature, keyEncipherment
basicConstraints  = CA:FALSE
nsComment         = "OpenSSL Generated Certificate"

[ req ]
default_bits       = 1024
default_keyfile    = privkey.pem
string_mask        = utf8only
distinguished_name = req_distinguished_name
attributes         = req_attributes

x509_extensions = v3_ca  # The extentions to add to the self signed cert
req_extensions  = v3_req # The extensions to add to a certificate request

[ v3_ca ]
subjectKeyIdentifier   = hash
authorityKeyIdentifier = keyid:always,issuer
basicConstraints       = CA:true

[ v3_req ]
keyUsage         = nonRepudiation, digitalSignature, keyEncipherment
basicConstraints = CA:FALSE

[ req_distinguished_name ]
countryName                    = Country Name (2 letter code)
countryName_default            = FR
countryName_min                = 2
countryName_max                = 2

stateOrProvinceName            = State or Province Name (full name)
stateOrProvinceName_default    = Ile de France

localityName                   = Locality Name (eg, city)
localityName_default           = Paris

0.organizationName             = Organization Name (eg, company)
0.organizationName_default     = INRIA-MSR Joint Lab

organizationalUnitName         = Organizational Unit Name (eg, section)
organizationalUnitName_default = Security Group

commonName                     = Common Name (e.g. server FQDN or YOUR name)
commonName_default             = cert-XX.example.org
commonName_max                 = 64

emailAddress                   = Email Address
emailAddress_default           = root@example.org
emailAddress_max               = 64

[ req_attributes ]
