*~
*.checked
*.checked.lax
.depend*
*.cm*
lib/steel/*.a
lib/steel/*.ml
lib/steel/*.mli
lib/steel/generated
lib/steel/runtime
lib/steel/META
lib/steel/dune-package
*.krml
*.o
LICENSE-z3.txt

# Created by CI
BUILDLOG
