name: Build F* (Linux)

# This builds F* for Linux for a binary package release.
# See build.yml for the build used in normal CI runs.

on:
  workflow_call:
  workflow_dispatch:

defaults:
  run:
    shell: bash

jobs:
  build-linux:
    runs-on: ubuntu-22.04
    # We prefer slightly older Ubuntu so we get binaries that work on
    # all more recent versions.
    steps:
      - uses: actions/checkout@master
        with:
          path: FStar

      - uses: ocaml/setup-ocaml@v3
        with:
          ocaml-compiler: 4.14.2

      - name: Prepare
        run: |
          ./FStar/.scripts/get_fstar_z3.sh $HOME/bin
          echo "PATH=$HOME/bin:$PATH" >> $GITHUB_ENV
          opam install --deps-only FStar/fstar.opam

      - name: Set version
        run: |
          # Setting FSTAR_VERSION for nightly and release builds. If unset,
          # we use $(version.txt)~dev. Setting it avoids the ~dev.
          if [[ "${{github.workflow_ref}}" =~ "nightly.yml" ]]; then
            echo FSTAR_VERSION="nightly-$(date -I)" >> $GITHUB_ENV
          elif [[ "${{github.workflow_ref}}" =~ "release.yml" ]]; then
            echo FSTAR_VERSION="$(cat FStar/version.txt)" >> $GITHUB_ENV
          fi

      - name: Build packages
        working-directory: FStar
        run: |
          eval $(opam env)
          make -skj$(nproc) package     FSTAR_TAG=-Linux-x86_64
          make -skj$(nproc) package-src FSTAR_TAG=

      - uses: actions/upload-artifact@v4
        with:
          path: FStar/fstar-Linux-x86_64.tar.gz
          name: fstar-Linux-x86_64.tar.gz
      - uses: actions/upload-artifact@v4
        with:
          path: FStar/fstar-src.tar.gz
          name: fstar-src.tar.gz
