name: Build F* binaries (all archs)

on:
  workflow_call:
  workflow_dispatch:

jobs:
  # Windows build call this as a substep
  # src:
  #   uses: ./.github/workflows/build-src.yml

  linux:
    uses: ./.github/workflows/build-linux.yml

  macos:
    uses: ./.github/workflows/build-macos.yml

  windows:
    uses: ./.github/workflows/build-windows.yml
