name: Build and test FStar
on:
  push:
    branches-ignore:
    - _**
  pull_request:
  workflow_dispatch:
    inputs:
      ci_refresh_hints:
        description: Refresh hints and advance version number
        required: true
        type: boolean
      ci_test_min_opam_deps:
        description: Test minimal opam package dependency versions
        required: true
        type: boolean
      ci_no_karamel:
        description: Disable Karamel extraction tests
        required: true
        type: boolean
      ci_ocaml_version:
        description: OCaml version
        required: true
        type: string
        default: 4.12.0
      ci_skip_image_tag:
        description: Do not tag image
        required: true
        type: boolean
jobs:
  build:
    runs-on: [self-hosted, linux, X64]
    steps:
      - name: Record initial timestamp
        run: |
          echo "CI_INITIAL_TIMESTAMP=$(date '+%s')" >> $GITHUB_ENV
      - name: Check out repo        
        uses: actions/checkout@v2
      - name: Identify the notification channel
        run: |
          echo "CI_SLACK_CHANNEL=$(jq -c -r '.NotificationChannel' .docker/build/config.json)" >> $GITHUB_ENV
      - name: Set the refresh hints flag
        if: ${{ (github.event_name == 'workflow_dispatch') && inputs.ci_refresh_hints }}
        run: |
          echo "CI_TARGET=uregressions-ulong" >> $GITHUB_ENV
      - name: Populate test min opam deps arg
        if: ${{ (github.event_name == 'workflow_dispatch') && inputs.ci_test_min_opam_deps }}
        run: |
          echo "CI_DO_TEST_MIN_OPAM_DEPS=--build-arg CI_TEST_MIN_OPAM_DEPS=1" >> $GITHUB_ENV
      - name: Populate no karamel arg
        if: ${{ (github.event_name == 'workflow_dispatch') && inputs.ci_no_karamel }}
        run: |
          echo "CI_DO_NO_KARAMEL=--build-arg CI_NO_KARAMEL=1" >> $GITHUB_ENV
      - name: Populate ocaml version arg
        if: ${{ (github.event_name == 'workflow_dispatch') }}
        run: |
          echo "${{inputs.ci_ocaml_version}}" | grep '^[0-9]*\(\.[0-9]*\)\+$'
          echo "CI_DO_OCAML_VERSION=--build-arg OCAML_VERSION=${{inputs.ci_ocaml_version}}" >> $GITHUB_ENV
      - name: Populate skip image tag arg
        if: ${{ (github.event_name == 'workflow_dispatch') && inputs.ci_skip_image_tag }}
        run: |
          echo "CI_SKIP_IMAGE_TAG=1" >> $GITHUB_ENV
      - name: Build FStar and its dependencies
        run: |
          ci_docker_image_tag=fstar:local-run-$GITHUB_RUN_ID-$GITHUB_RUN_ATTEMPT
          ci_docker_builder=builder_fstar_${GITHUB_RUN_ID}_${GITHUB_RUN_ATTEMPT}
          echo "ci_docker_builder=$ci_docker_builder" >> $GITHUB_ENV
          docker buildx create --name $ci_docker_builder --driver-opt env.BUILDKIT_STEP_LOG_MAX_SIZE=500000000
          if [[ -z $CI_TARGET ]] ; then CI_TARGET=uregressions ; fi
          docker buildx build --builder $ci_docker_builder --pull --load --secret id=DZOMO_GITHUB_TOKEN -t $ci_docker_image_tag -f .docker/standalone.Dockerfile --build-arg CI_BRANCH=$GITHUB_REF_NAME --build-arg CI_TARGET="$CI_TARGET" $CI_DO_TEST_MIN_OPAM_DEPS $CI_DO_OCAML_VERSION $CI_DO_NO_KARAMEL . |& tee BUILDLOG
          ci_docker_status=$(docker run $ci_docker_image_tag /bin/bash -c 'cat $FSTAR_HOME/status.txt' || echo false)
          if $ci_docker_status && [[ -z "$CI_SKIP_IMAGE_TAG" ]] ; then
            if ! { echo $GITHUB_REF_NAME | grep '/' ; } ; then
              docker tag $ci_docker_image_tag fstar:local-branch-$GITHUB_REF_NAME
            fi
            docker tag $ci_docker_image_tag fstar:local-commit-$GITHUB_SHA
          fi
          $ci_docker_status
        env:
          DZOMO_GITHUB_TOKEN: ${{ secrets.DZOMO_GITHUB_TOKEN }}
      - name: Clean up temporary container
        if: ${{ always() }}
        run: |
          docker buildx rm $ci_docker_builder
      - name: Compute elapsed time and status message
        if: ${{ always() }}
        run: |
          CI_FINAL_TIMESTAMP=$(date '+%s')
          CI_TIME_DIFF=$(( $CI_FINAL_TIMESTAMP - $CI_INITIAL_TIMESTAMP ))
          echo "CI_TIME_DIFF_S=$(( $CI_TIME_DIFF % 60 ))" >> $GITHUB_ENV
          echo "CI_TIME_DIFF_M=$(( ($CI_TIME_DIFF / 60) % 60 ))" >> $GITHUB_ENV
          echo "CI_TIME_DIFF_H=$(( $CI_TIME_DIFF / 3600 ))" >> $GITHUB_ENV
          case ${{ job.status }} in
          (success)
            if orange_contents="$(docker run fstar:local-run-$GITHUB_RUN_ID-$GITHUB_RUN_ATTEMPT /bin/bash -c 'cat $FSTAR_HOME/orange_file.txt')" && [[ $orange_contents = '' ]] ; then
              echo "CI_EMOJI=✅" >> $GITHUB_ENV
            else
              echo "CI_EMOJI=⚠" >> $GITHUB_ENV
            fi
            ;;
          (cancelled)
            echo "CI_EMOJI=⚠" >> $GITHUB_ENV
            ;;
          (*)
            echo "CI_EMOJI=❌" >> $GITHUB_ENV
            ;;
          esac
          echo "CI_COMMIT=$(echo ${{ github.event.head_commit.id || github.event.pull_request.head.sha }} | grep -o '^........')" >> $GITHUB_ENV
          echo 'CI_STATUS='"$(docker run fstar:local-run-$GITHUB_RUN_ID-$GITHUB_RUN_ATTEMPT /bin/bash -c 'cat $FSTAR_HOME/result.txt' || echo Failure)" >> $GITHUB_ENV
      - name: Output build log error summary
        if: ${{ always () }}
        run: |
          # Just outputs to the github snippet. Could be part of slack message.
          # This command never triggers a failure
          grep -C10 -Ew ' \*\*\* |\(Error' BUILDLOG || true

      - name: Post to the Slack channel
        if: ${{ always() && (github.event_name != 'workflow_dispatch') }}
        id: slack
        uses: slackapi/slack-github-action@v1.16.0
        with:
          channel-id: ${{ env.CI_SLACK_CHANNEL }}
          payload: |
            {
              "blocks" : [
                {
                  "type": "section",
                  "text": {
                    "type": "mrkdwn",
                    "text": "<${{ github.event.head_commit.url || github.event.pull_request.html_url }}|${{ env.CI_COMMIT }}> on (${{ github.ref_name }}) by ${{ github.event.head_commit.author.username || github.event.pull_request.user.login }}"
                  }
                },
                {
                  "type": "section",
                  "text": {
                    "type": "plain_text",
                    "text": ${{ toJSON(github.event.head_commit.message || github.event.pull_request.title) }}
                  }
                },
                {
                  "type": "section",
                  "text": {
                    "type": "mrkdwn",
                    "text": "${{ env.CI_EMOJI }} <https://github.com/${{github.repository}}/actions/runs/${{github.run_id}}|${{ env.CI_STATUS }}>"
                  }
                },
                {
                  "type": "section",
                  "text": {
                    "type": "plain_text",
                    "text": "Duration: ${{ env.CI_TIME_DIFF_H }}h ${{ env.CI_TIME_DIFF_M }}min ${{ env.CI_TIME_DIFF_S }}s"
                  }
                }
              ]
            }
        env:
          SLACK_WEBHOOK_URL: ${{ secrets.SLACK_WEBHOOK_URL }}
          SLACK_WEBHOOK_TYPE: INCOMING_WEBHOOK
