name: Build FStar Binaries

on:

jobs:

  build:

    runs-on: macos-latest

    steps:
    - name: Checkout FStar
      uses: actions/checkout@v2
      with:
        path: FStar
    - name: Checkout everest
      uses: actions/checkout@v2
      with:
        repository: project-everest/everest
        path: FStar/.github/everest
    - name: Install .NET SDK
      uses: actions/setup-dotnet@v2
      with:
        dotnet-version: '6.0.x'
    - name: Setup dependencies
      run: ./FStar/.github/setup.sh
    - name: Build FStar
      run: |
        source FStar/.github/env.sh
        make -j -C FStar all
    - name: Package FStar
      run: |
        source FStar/.github/env.sh
        PACKAGE_DOCS=0 make -j -C FStar package
    - name: Upload artifact
      uses: actions/upload-artifact@v3
      with:
        name: fstar-Darwin_x86_64.tar.gz
        path: FStar/src/ocaml-output/fstar.tar.gz
