name: F* nightly build

# For this to work, there must a repo called FStar-nightly
# in the same org as FStar, and a DZOMO_GITHUB_TOKEN secret configured
# in the FStar repo that has write access to FStar-nightly (i.e. 'Contents'
# permission), *AND* also workflow access (or you'll get "Refusing to
# allow a Personal Access Token to create or update workflow").
#
# The default GITHUB_TOKEN only allows access to the current repo, so it's
# not useful.

on:
  schedule:
    - cron: '0 0 * * *'
  workflow_dispatch:

jobs:
  build-all:
    uses: ./.github/workflows/build-all.yml

  publish:
    runs-on: ubuntu-latest
    needs: build-all
    steps:
      - uses: actions/checkout@master
        with:
          fetch-depth: 0 # full clone, so we can push objects

      - name: Set up git and some variables
        run: |
          git config --global user.name "Dzomo, the Everest Yak"
          git config --global user.email "24394600+dzomo@users.noreply.github.com"

          # We push nightly builds to a different repo (same org)
          REPO="${{github.repository}}-nightly"
          TAG=nightly-$(date -I)

          echo "REPO=$REPO" >>$GITHUB_ENV
          echo "TAG=$TAG" >>$GITHUB_ENV

      - uses: actions/download-artifact@v4
        with:
          path: artifacts
          merge-multiple: true
          # ^ Download all artifacts into the same dir.
          # Each of them is a single file, so no clashes happen.

      # For debugging.
      - run: |
          echo LOCAL
          git config --local -l
          echo GLOBAL
          git config --global -l

      - run: |
          # git config --unset-all http.https://github.com/.extraheader
          # ^ https://stackoverflow.com/questions/64374179/how-to-push-to-another-repository-in-github-actions
          # The above does not work anymore, GitHub switched to using includeif
          # directives in the config. Remove them.
          for key in $(git config -l | grep ^includeif | cut -d= -f1); do git config unset --all $key; done

      - name: Create tag
        run: |
          git tag $TAG ${{github.sha}}

      - name: Push tag to nightly repo
        run: |
          git remote add nightly-repo https://${{secrets.DZOMO_GITHUB_TOKEN}}@github.com/$REPO
          echo "Nightly remote added"
          git push nightly-repo $TAG
          echo "Pushed to nightly repo"

      - name: Create release, with artifacts
        run: |
          gh release create -R "$REPO" \
            --generate-notes \
            --target ${{ github.sha }} \
            $TAG artifacts/*
          echo "Done!"

        env:
          GH_TOKEN: ${{ secrets.DZOMO_GITHUB_TOKEN }}
