# This workflow tests the Nix build of F*. We run it only for PRs (not
# on every push) and we use Github hosted runners.

name: Nix Build

on:
  pull_request:

jobs:
  nix-build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - uses: DeterminateSystems/nix-installer-action@main
    - uses: DeterminateSystems/magic-nix-cache-action@main
    - name: Build
      run: nix build -L
