.depend
*.cm*
*.o
*.exe
fstar/
*.tar.gz

FSharp_Format.ml
Microsoft_FStar_Absyn_Const.ml
Microsoft_FStar_Absyn_Print.ml
Microsoft_FStar_Absyn_SSyntax.ml
Microsoft_FStar_Absyn_Syntax.ml
Microsoft_FStar_Absyn_Util.ml
Microsoft_FStar_Absyn_Visit.ml
Microsoft_FStar_Backends_NameEnv.ml
Microsoft_FStar_Backends_OCaml_ASTTrans.ml
Microsoft_FStar_Backends_OCaml_Code.ml
Microsoft_FStar_Backends_OCaml_Syntax.ml
Microsoft_FStar_FStar.ml
Microsoft_FStar_Options.ml
Microsoft_FStar_Parser_AST.ml
Microsoft_FStar_Parser_Desugar.ml
Microsoft_FStar_Parser_DesugarEnv.ml
Microsoft_FStar_Parser_Driver.ml
Microsoft_FStar_Parser_LexFStar.ml
Microsoft_FStar_Parser_Lexhelp.ml
Microsoft_FStar_Parser_Parse.ml
Microsoft_FStar_Tc_Env.ml
Microsoft_FStar_Tc_Errors.ml
Microsoft_FStar_Tc_Normalize.ml
Microsoft_FStar_Tc_Recheck.ml
Microsoft_FStar_Tc_Rel.ml
Microsoft_FStar_Tc_Tc.ml
Microsoft_FStar_Tc_Util.ml
Microsoft_FStar_ToSMT_Encode.ml
Microsoft_FStar_ToSMT_Term.ml
Microsoft_FStar_ToSMT_Z3.ml
parse.ml
parse.mli
parse.mly
Microsoft_FStar_ToSMT_SplitQueryCases.ml
Microsoft_FStar_Backends_ML_Env.ml
Microsoft_FStar_Backends_ML_ExtractExp.ml
Microsoft_FStar_Backends_ML_ExtractMod.ml
Microsoft_FStar_Backends_ML_ExtractTyp.ml
Microsoft_FStar_Backends_ML_Util.ml
support.ml
Microsoft_FStar_Backends_ML_Syntax.ml
Microsoft_FStar_Extraction_ML_Env.ml
Microsoft_FStar_Extraction_ML_ExtractExp.ml
Microsoft_FStar_Extraction_ML_ExtractMod.ml
Microsoft_FStar_Extraction_ML_ExtractTyp.ml
Microsoft_FStar_Extraction_ML_Syntax.ml
Microsoft_FStar_Extraction_ML_Util.ml
Microsoft_FStar_Extraction_OCaml_Code.ml
