.depend
*.cm*
*.o
*.exe
fstar/
*.tar.gz

prims.ml
FStar_All.ml
FStar_Bytes.ml
FStar_Char.ml
FStar_Getopt.ml
FStar_List.ml
FStar_Option.ml
FStar_Parser_LexFStar.ml
FStar_Parser_Parse.ml
FStar_Parser_ParseIt.ml
FStar_Parser_Util.ml
FStar_Platform.ml
FStar_Range.ml
FStar_ST.ml
FStar_String.ml
FStar_Unionfind.ml
FStar_Util.ml
FStar_Version.ml
main.ml
parse.ml
parse.mli
parse.mly
